bin/nginx
bin/uwsgi
conf/*.conf
conf/*.media
!conf/README.markdown
distr/*
!distr/README.markdown
envs/*
!envs/README.markdown
*.log
media/*
!media/README.markdown
ondeploy/*
!ondeploy/README.markdown
*.pid
pkg/*
projects/*
!projects/testproject
!pkg/README.markdown
.hidden
.pydevproject
libs/*
*.pyc
static
